body {
  font-family: sans-serif;
  margin: 0;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-right: 10px;
  margin-top: 20px;
  width: 350px;
  background-color: rgb(157, 161, 171);
  font-size: 16px;

}

#task-input-container {
  width: 100%;
  margin-bottom: 5px;
  height: 30px;
  display: flex;


}

#new-task {
  width: 100%;
  margin-right: 5px;
  font-size: 16px;
}

#task-list {
  list-style: none;
  cursor: default;
  padding: 0;
  margin: 0;
}

#task-list .task {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

#task-list .task .task-text {
  width: 100%;
  display: block;
}

#task-list .task .edit-text {
  width: 100%;
  display: block;
}

#task-list .task .edit-button {
  margin-right: 2px;
}

#task-list .task .completed {
  text-decoration: line-through;
}
